{% extends "base/base_1.html" %}
{% block content %}
	{%if not user.is_authenticated %}
		<div class="span9">
                <div class="wrapper-login">
                    <div class="container">
                        <div class="row">
                            <div class="login-content span4 offset4">
                                <div class="header-login well">
                                   <center><h3>Login</h3></center>
                                </div>
                                <form class="well" method="post">	
        									{{ form.as_p }}
        									{% csrf_token %}
        									<input type="submit" class='btn btn-info' value="Entrar">
                                </form>
                            </div> 
                			</div>
                		</div>
                	</div>
         </div>
   
	{%endif%}
	<div class="span6">
		
		<button class="btn btn-large"> Registrate </button>	
	</div>

{% endblock%}