<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css"  type="text/css">
    <link type="text/css" rel="stylesheet" href="static/css/color-button.css" />
	<!--<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
	-->
	<script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/custom.js"></script>
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar"  >
	
	 <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <a class="brand" >Que Salio Anoche?</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/about">Wiki</a></li>
                <li><a href="/contact">Contactanos</a></li>
                {%if user.is_authenticated %}
                	<li class="dropdown">
                		<!-- estaria bueno hacer con js un menu desplegable -->
                  	<a href="my_profile/" class="dropdown-toggle" > {{user}}</a>
                  		<ul class="dropdown-menu">
                    			<li><a href="/accounts/profile/">Perfil</a></li>
                    			<li><a href="#">Mis series</a></li>
	                  	</ul>
                </li>
                <li><a href="/logout">Salir</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div> 
    </div> 
    <!-- Fin de navbar-wrapper -->
	<!--<img src="{{ STATIC_URL }}img/" alt="" >  Agregar una imagen de portada-->
	{% block content %}
	
   {% endblock content %}
	
</body>
</html>